Pods/
build/
.build/
TacoCabana/TacoCabana.xcodeproj/xcuserdata/russell.mirabelli.xcuserdatad/xcschemes/xcschememanagement.plist

PolloTropical/PolloTropical.xcodeproj/xcuserdata/russell.mirabelli.xcuserdatad/xcschemes/xcschememanagement.plist

FiestaKit/FiestaKit.xcodeproj/xcuserdata/russell.mirabelli.xcuserdatad/xcschemes/xcschememanagement.plist

Fiesta.xcworkspace/xcuserdata/russell.mirabelli.xcuserdatad/UserInterfaceState.xcuserstate

ios-p12-vault/

ios-provisioning-profile-vault/

fastlane/report.xml
fastlane/test_output/
*.xcuserdatad
